.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  
  .portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem 1.8rem; /* increase left and right padding */
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  
  .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
  }
  
  .portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    max-width: 100%; /* ensure image scales down on smaller screens */
  }
  
  .portfolio__item h3 {
    margin: 1rem 0;
  }
  
  .portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
  }
  
  .portfolio__item-cta {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap; /* add this */
  }
  
  .portfolio__item-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1024px) {
    .portfolio__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
      height: 500px;
    }
    .portfolio__item-content {
      height: 200px;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 600px) {
    .portfolio__container {
      grid-template-columns: 1fr;
      gap: 1rem;
      height: 500px;
    }
    .portfolio__item-content {
      height: 200px;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  